<a href="#">Back to List</a>
<form>
   <div>
       Name
   </div>
   <div>
       <input type="text" id="name" />
   </div>
    <div>
        Phone
    </div>
    <div>
        <input type="text" id="phone" />
    </div>
    <div>
        Email
    </div>
    <div>
        <input type="text" id="email" />
    </div>
    <div>
        <input id="btnSave" type="button" value="Save" />
    </div>
</form>